<div class="panel panel-default ship">
    <div class="panel-heading">
        <h3 class="panel-title">{{ data.name }}</h3>
    </div>
    <div class="panel-body">
        <img [src]="'https://starwars-visualguide.com/assets/img/starships/'+shipId+'.jpg'">
    </div>
</div>
