<div class="container">
  <!-- As a link -->
  <div class="col-sm-12">
      <div *ngIf="flash" [ngClass]="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" [innerHTML]="flash.message"></div>
      <router-outlet></router-outlet>
  </div>
</div>


